<div class="swiper-container">
    <div class="swiper-wrapper">
        {{ range .Site.Data.slide }}
        <div class="swiper-slide">
            <img src="{{ .image }}" alt="">
            <div class="s-fade-txt">
                {{if .link }}<a href="{{ .link }}">{{ end }}
                <h1 class="text-4xl text-white">{{ .title }}</h1>
                {{if .link }}</a>{{ end }}
                <p class="sans text-white">{{ .description | markdownify }}</p>
            </div>
        </div>
        {{ end }}
    </div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
</div>